<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/ui.jqgrid-bootstrap-ui.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-select.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-datetimepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/style/navigation.css}"/>
    <title>实验室管理系统</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="row">
    <div class="form-group col-xs-2">
        <div class="nav_left">
            <div class="nav_div1">
                <div class="nav_div2">
                    <div class="nav_zcd"></div>
                    <a class="button-a" href="/public/aboutUs/lab">实验室简介</a>
                </div>
                <div class="nav_div2_zcd">
                    <div class="nav_zcd"></div>
                    师资队伍
                </div>
                <div class="nav_div3">
                    <ul>
                        <li> <a class="button-a" href="/public/aboutUs/teacher?type=1">全职教师</a></li>
                        <li> <a class="button-a" href="/public/aboutUs/teacher?type=2">兼职教师</a></li>
                    </ul>
                </div>
                <div class="nav_div2_zcd">
                    <div class="nav_zcd"></div>
                    学生信息
                </div>
                <div class="nav_div3">
                    <ul>
                        <li><a class="button-a" href="/public/aboutUs/student?type=3">在读学生</a></li>
                        <li><a class="button-a" href="/public/aboutUs/student?type=4">毕业学生</a></li>
                    </ul>
                </div>
                <div class="nav_div2">
                    <div class="nav_zcd"></div>
                    <a class="button-a" href="/public/aboutUs/contactUs">联系我们</a>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group col-xs-10">
        <h2 style="text-align:center">实验室简介</h2>
        <ul style="margin-top: 18px;font-family:Microsoft YaHei">
            <li style="font-size:18px;">中文名:</li>
            <span th:text="${lab.chName}"></span>
            <li style="font-size:18px;margin-top: 18px;">英文名:</li>
            <span th:text="${lab.enName}"></span>
            <li style="font-size:18px;margin-top: 18px;">版权信息:</li>
            <span th:text="${lab.copyright}"></span>
            <li style="font-size:18px;margin-top: 18px;">研究方向:</li>
            <span th:text="${lab.studyDirection}"></span>
            <li style="font-size:18px;margin-top: 18px;">详细介绍:</li>
            <span th:text="${lab.description}"></span>
        </ul>
    </div>
</div>
<div class="row">
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
<script th:src="@{/js/jquery-1.9.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.jqGrid.min.js}"></script>
<script th:src="@{/js/grid.locale-cn.js}"></script>
<script th:src="@{/js/bootstrap-select.js}"></script>
<script th:src="@{/js/moment-with-locales.min.js}"></script>
<script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/js/bootstrap-datetimepicker.zh-CN.js}"></script>

<script th:src="@{/js/script/wowslider.js}"></script>
<script th:src="@{/js/script/common.js}"></script>
<script th:inline="javascript">
    $(document).ready(function () {
        $("#aboutUs").addClass("active");

        $(".nav_div2_zcd").click(function () {
            $(this).next("div .nav_div3").slideToggle("slow")
                .siblings(".nav_div3:visible").slideUp("slow");
        });
    });

</script>
</html>