<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<title>军创电子科技--设备管理</title>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/menu :: menu"></div>
<div class="col-sm-10 col-lg-10 main">
    <div class="row">
        <ul class="breadcrumb">
            <li>设备管理</li>
            <li class="active">炮点信息</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>查询条件</span>
                </div>
                <div class="panel-body">
                    <form action="#" class="form-horizontal" role="form" id="searchForm">
                        <div class="row">
                            <div class="form-group col-xs-4">
                                <label class="teach-control-label col-sm-3 control-label">单位名称：</label>
                                <div class="col-sm-5">
                                    <input type="text" name="name" class="form-control input-sm" id="name">
                                </div>
                            </div>
                            <div class="form-group col-xs-4">
                                <label class="teach-control-label col-sm-3 control-label">主管单位：</label>
                                <div class="col-sm-5">
                                    <input type="text" name="department" class="form-control input-sm" id="department">
                                </div>
                            </div>
                            <div class="form-group col-xs-4">
                                <label class="teach-control-label col-sm-3 control-label">空域单位：</label>
                                <div class="col-sm-5">
                                    <input type="text" name="airspace" class="form-control input-sm" id="airspace">
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="teach-review-btns">
                        <div class="col-sm-2">
                            <button class="btn btn-primary" id="btnQuery" onclick="searchData();">
                                查询
                            </button>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-primary" onclick="addAccount();">添加</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>查询结果</span>
                </div>
                <div class="panel-body">
                    <div id="jqGrid_wrapper">
                        <table id="jqGridList"></table>
                        <div id="jqGridPager"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 添加窗口 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新增</h4>
                </div>
                <div class="modal-body">

                    <form action="#" id="myForm" class="form-horizontal" role="form">
                        <input type="hidden" id="id" name="id" value="0"/>
                        <div class="form-group col-xs-12">
                            <label for="txt_name" class="col-sm-3 teach-control-label">单位名称：</label>
                            <div class="col-sm-5">
                                <input type="text" name="name" class="form-control" id="txt_name" required >
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <label for="txt_department" class="col-sm-3 teach-control-label">主管单位：</label>
                            <div class="col-sm-5">
                                <input type="text" name="department" class="form-control" id="txt_department" >
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <label for="txt_latitude" class="col-sm-3 teach-control-label">经度：</label>
                            <div class="col-sm-5">
                                <input type="text" name="latitude" class="form-control" id="txt_latitude" >
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <label for="txt_longitude" class="col-sm-3 teach-control-label">纬度：</label>
                            <div class="col-sm-5">
                                <input type="text" name="longitude" class="form-control" id="txt_longitude" >
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <label for="txt_height" class="col-sm-3 teach-control-label">高度：</label>
                            <div class="col-sm-5">
                                <input type="text" name="height" class="form-control" id="txt_height" >
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <label for="txt_ip" class="col-sm-3 teach-control-label">IP地址：</label>
                            <div class="col-sm-5">
                                <input type="text" name="ip" class="form-control" id="txt_ip" >
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <label for="txt_port" class="col-sm-3 teach-control-label">端口：</label>
                            <div class="col-sm-5">
                                <input type="text" name="port" class="form-control" id="txt_port" >
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <label for="txt_cameraId" class="col-sm-3 teach-control-label">摄像头ID：</label>
                            <div class="col-sm-5">
                                <input type="text" name="cameraId" class="form-control" id="txt_cameraId" >
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <label for="txt_cameraAccount" class="col-sm-3 teach-control-label">摄像头用户名：</label>
                            <div class="col-sm-5">
                                <input type="text" name="cameraAccount" class="form-control" id="txt_cameraAccount" >
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <label for="txt_cameraPassword" class="col-sm-3 teach-control-label">摄像头密码：</label>
                            <div class="col-sm-5">
                                <input type="text" name="cameraPassword" class="form-control" id="txt_cameraPassword" >
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <label for="txt_airspace" class="col-sm-3 teach-control-label">空域单位：</label>
                            <div class="col-sm-5">
                                <input type="text" name="airspace" class="form-control" id="txt_airspace" >
                            </div>
                        </div>
                        <div class="form-group">
                            &nbsp;
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span
                            class="glyphicon glyphicon-remove" aria-hidden="true" th:text="取消"></span></button>
                    <button type="button" id="btn_submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"
                                                                                        aria-hidden="true"
                                                                                        th:text="确定"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div></div>
</body>
<script th:inline="javascript">

    var jqGrid = $("#jqGridList");
    $(document).ready(function () {
        var url = '/device/searchData?' + $('#searchForm').serialize() ;
        jqGrid.jqGrid({
            mtype: "GET",
            styleUI : 'Bootstrap',
            url: url,
            datatype: "json",
            ajaxGridOptions: { contentType: 'application/json;charset=utf-8' },
            colModel: [
                { label: 'id', name: 'id',key: true, align: 'center', width: $("#jqGridList").width()*0.15, hidden: true },
                { label: '单位名称', name: 'name', align: 'center', width: $("#jqGridList").width()*0.15,sortable: false},
                { label: '主管单位', name: 'department', align: 'center', width: $("#jqGridList").width()*0.15,sortable: false},
                { label: '经度', name: 'latitude', align: 'center', width: $("#jqGridList").width()*0.15,sortable: false},
                { label: '纬度', name: 'longitude', align: 'center', width: $("#jqGridList").width()*0.15,sortable: false},
                { label: '高度', name: 'height', align: 'center', width: $("#jqGridList").width()*0.15,sortable: false},
                { label: 'IP地址', name: 'ip', align: 'center', width: $("#jqGridList").width()*0.15,sortable: false},
                { label: '端口', name: 'port', align: 'center', width: $("#jqGridList").width()*0.15,sortable: false},
                { label: '摄像头ID', name: 'cameraId', align: 'center', width: $("#jqGridList").width()*0.15,sortable: false},
                { label: '摄像头用户名', name: 'cameraAccount', align: 'center', width: $("#jqGridList").width()*0.15,sortable: false},
                { label: '摄像头密码', name: 'cameraPassword', align: 'center', width: $("#jqGridList").width()*0.15,sortable: false},
                { label: '空域单位', name: 'airspace', align: 'center', width: $("#jqGridList").width()*0.15,sortable: false},
                { label: '操作',name: 'Operation', frozen: true, align: 'center', sortable: false, width: $("#jqGridList").width()*0.25, formatter: function (cellValue, options, cellObject) {
                        return '<a href="javascript:void(0);" onclick=\'editDevice("' + cellObject.id + '")\' >编辑</a>' +
                            '<a href="javascript:void(0);" style="margin-left: 8px" onclick=\'delDevice("' + cellObject.id + '")\' >删除</a>';
                    }},
            ],
            viewrecords: true,
            rowList: [5, 10, 15, 20, 30],
            rowNum: 10,
            pager: "#jqGridPager",
            sortable: true,
            sortorder: "asc",
            width:$("#jqGrid_wrapper").width()-10,
            height: $(window).height() * 0.4,
//            rownumbers: true,
//            rownumWidth:  $("#jqGridList").width()*0.1,
//            gridComplete:function(){
//                jqGrid.jqGrid('setLabel', 'rn', '序号', {
//                    'text-align' : 'center'
//                });
//            }

        });

    });

    flag = false;
    function addAccount() {
        // 初始化输入框中的数据
        $("#txt_account").val("");
        $("#txt_school").val("");
        $("#txt_name").val("");
        $("#txt_account-error").hide();

        $("#myForm").attr("action", "/device/addDevice");
        $("#myModalLabel").text("新增");
        $('#myModal').modal();
    }
    
    $("#btn_submit").click(function (){
            $.ajax({
                type: "POST",
                url: $("#myForm").attr("action"),
                data:$('#myForm').serialize(),
                async: false,
                success: function(data) {
                    if (data.message == "success")
                    {
                        BootstrapDialog.alert("操作成功");
                        $('#myModal').modal('hide');
                        var pageNo = $('#jqGrid').getGridParam('page');
                        searchData(pageNo);
                    }
                    else {
                        var jsonData = $.parseJSON(data);
                        alert(jsonData.errorMsg);
                    }
                },
                error: function(request) {
                    alert("Connection error");
                }
            });
    });

    function searchData(pageNo) {
        var url = '/device/searchData?' + $('#searchForm').serialize();
        jqGrid.jqGrid('setGridParam', { page: pageNo,url: url, datatype: 'json'}).trigger("reloadGrid");

    }

    function editDevice(id) {

        var rowData = jqGrid.jqGrid('getRowData',id);
        // 初始化输入框中的数据
        $("#id").val(id);
        $("#txt_name").val(rowData.name);
        $("#txt_department").val(rowData.department);
        $("#txt_latitude").val(rowData.latitude);
        $("#txt_longitude").val(rowData.longitude);
        $("#txt_height").val(rowData.height);
        $("#txt_ip").val(rowData.ip);
        $("#txt_port").val(rowData.port);
        $("#txt_cameraId").val(rowData.cameraId);
        $("#txt_cameraAccount").val(rowData.cameraAccount);
        $("#txt_cameraPassword").val(rowData.cameraPassword);
        $("#txt_airspace").val(rowData.airspace);

        $("#myForm").attr("action", "/device/modDevice");
        $("#myModalLabel").text("编辑");
        $('#myModal').modal();
    }

    function delDevice(id) {
        BootstrapDialog.confirm("确定删除该炮点信息？", function(result){
            if(result) {
                $.ajax({
                    type: "GET",
                    url: "/device/delDevice?id=" + id,
                    async: false,
                    success: function(data) {
                        if (data.msg == "success")
                        {
                            BootstrapDialog.alert("操作成功");
                            var pageNo = $('#jqGrid').getGridParam('page');
                            searchData(pageNo);
                        }
                        else {
                            var jsonData = $.parseJSON(data);
                            BootstrapDialog.alert(jsonData.errorMsg);
                        }
                    },
                    error: function(request) {
                        BootstrapDialog.alert("Connection error");
                    }
                });
            }else {
                return;
            }
        })

    }
</script>
</html>