<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<title>军创电子科技--学员管理</title>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/menu :: menu"></div>
<div class="col-sm-10 col-lg-10 main">
    <div class="row">
        <ul class="breadcrumb">
            <li>学员管理</li>
            <li class="active">查看考勤</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>查询条件</span>
                </div>
                <div class="panel-body">
                    <form action="#" class="form-horizontal" role="form" id="searchForm">
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <label class="teach-control-label col-sm-3 control-label">学校：</label>
                                <div class="col-sm-5">
                                    <input type="text" name="schoolName" class="form-control input-sm" id="schoolName">
                                </div>
                            </div>
                            <div class="form-group col-xs-6">
                                <label class="teach-control-label col-sm-3 control-label">班级：</label>
                                <div class="col-sm-5">
                                    <input type="text" name="classes" class="form-control input-sm" id="classes">
                                </div>
                            </div>
                            <div class="form-group col-xs-6">
                                <label class="teach-control-label col-sm-3 control-label">学员账号：</label>
                                <div class="col-sm-5">
                                    <input type="text" name="account" class="form-control input-sm" id="account">
                                </div>
                            </div>
                            <div class="form-group col-xs-6">
                                <label class="teach-control-label col-sm-3 control-label">学员姓名：</label>
                                <div class="col-sm-5">
                                    <input type="text" name="name" class="form-control input-sm" id="name">
                                </div>
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="begin_date_txt_input" class="teach-control-label col-sm-3 control-label">开始日期：</label>
                                <div class="col-sm-5">
                                    <div class='input-group date' id='begin_date'>
                                        <input type='text' name="beginDate" class="form-control" id="begin_date_txt_input"/>
                                        <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-xs-6">
                                <label for="end_date_txt_input" class="teach-control-label col-sm-3 control-label">结束日期：</label>
                                <div class="col-sm-5">
                                    <div class='input-group date' id='end_date'>
                                        <input type='text' name="endDate" class="form-control" id="end_date_txt_input"/>
                                        <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="teach-review-btns">
                        <div class="col-sm-2">
                            <button class="btn btn-primary" id="btnQuery" onclick="searchData();">
                                查询
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>查询结果</span>
                </div>
                <div class="panel-body">
                    <div id="jqGrid_wrapper">
                        <table id="jqGridList"></table>
                        <div id="jqGridPager"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div></div>
</body>
<script th:inline="javascript">

    var jqGrid = $("#jqGridList");
    $(document).ready(function () {
        var url = '/user/student/searchSignInData?' + $('#searchForm').serialize() ;
        jqGrid.jqGrid({
            mtype: "GET",
            styleUI : 'Bootstrap',
            url: url,
            datatype: "json",
            ajaxGridOptions: { contentType: 'application/json;charset=utf-8' },
            colModel: [
                { label: 'id', name: 'id',key: true, align: 'center', width: $("#jqGridList").width()*0.15, hidden: true },
                { label: '学员账号', name: 'studentAccount', align: 'center', width: $("#jqGridList").width()*0.15,sortable: false},
                { label: '学员姓名', name: 'studentName', align: 'center', width: $("#jqGridList").width()*0.15,sortable: false},
                { label: '班级', name: 'classesName', align: 'center', width: $("#jqGridList").width()*0.15,sortable: false},
                { label: '学校', name: 'schoolName', align: 'center', width: $("#jqGridList").width()*0.15,sortable: false},
                { label: '操作人', name: 'operaterName', align: 'center', width: $("#jqGridList").width()*0.15,sortable: false},
                { label: '签到时间', name: 'signInDate', formatter:'date',formatoptions:{srcformat:'Y-m-d H:i:s',newformat:'Y-m-d H:i:s'}, align: 'center', width: $("#jqGridList").width()*0.15,sortable: false},
            ],
            viewrecords: true,
            rowList: [5, 10, 15, 20, 30],
            rowNum: 10,
            pager: "#jqGridPager",
            sortable: true,
            sortorder: "asc",
            width:$("#jqGrid_wrapper").width()-10,
            height: $(window).height() * 0.4,
//            rownumbers: true,
//            rownumWidth:  $("#jqGridList").width()*0.1,
//            gridComplete:function(){
//                jqGrid.jqGrid('setLabel', 'rn', '序号', {
//                    'text-align' : 'center'
//                });
//            }

        });

    });


    function searchData(pageNo) {
        var url = '/user/student/searchSignInData?' + $('#searchForm').serialize();
        jqGrid.jqGrid('setGridParam', { page: pageNo,url: url, datatype: 'json'}).trigger("reloadGrid");

    }


    $('#begin_date').datetimepicker({
        format: 'yyyy-mm-dd',
        minView: "month",//设置只显示到月份
        autoclose:true,//选中关闭
        locale: moment.locale('zh-cn')
    });
    $('#end_date').datetimepicker({
        format: 'yyyy-mm-dd',
        minView: "month",//设置只显示到月份
        autoclose:true,//选中关闭
        locale: moment.locale('zh-cn')
    });

</script>
</html>