<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="fragments/head :: head"></head>
<title>军创电子科技--学员管理</title>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/menu :: menu"></div>
<div class="col-sm-10 col-lg-10 main">
    <div class="row">
        <ul class="breadcrumb">
            <li>学员管理</li>
            <li class="active">查看学员列表</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>查询条件</span>
                </div>
                <div class="panel-body">
                    <form action="#" class="form-horizontal" role="form" id="searchForm">
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <label class="teach-control-label col-sm-3 control-label">学校：</label>
                                <div class="col-sm-5">
                                    <input type="text" name="schoolName" class="form-control input-sm" id="schoolName">
                                </div>
                            </div>
                            <div class="form-group col-xs-6">
                                <label class="teach-control-label col-sm-3 control-label">班级：</label>
                                <div class="col-sm-5">
                                    <input type="text" name="classes" class="form-control input-sm" id="classes">
                                </div>
                            </div>
                            <div class="form-group col-xs-6">
                                <label class="teach-control-label col-sm-3 control-label">姓名：</label>
                                <div class="col-sm-5">
                                    <input type="text" name="name" class="form-control input-sm" id="name">
                                </div>
                            </div>
                            <div class="form-group col-xs-6">
                                <label class="teach-control-label col-sm-3 control-label">状态：</label>
                                <div class="col-sm-5">
                                    <select class='form-control' name="status" id="status">
                                        <option value="">所有</option>
                                        <option value="0">已关闭</option>
                                        <option value="1">正常</option>
                                        <option value="2">待审批</option>
                                        <option value="3">已驳回</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="teach-review-btns">
                        <div class="col-sm-2">
                            <button class="btn btn-primary" id="btnQuery" onclick="searchData();">
                                查询
                            </button>
                        </div>
                        <shiro:hasPermission name="addClasses">
                            <div class="col-sm-2">
                                <button class="btn btn-primary" onclick="addStudent();">添加</button>
                            </div>
                        </shiro:hasPermission>
                        <shiro:hasPermission name="sendMessage">
                            <div class="col-sm-2">
                                <button class="btn btn-primary" onclick="sendMessage();">发送消息</button>
                            </div>
                        </shiro:hasPermission>
                        <div class="col-sm-2" style="margin-left: 30px">
                            <button class="btn btn-primary" onclick="openSignInList();">查看考勤</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>查询结果</span>
                </div>
                <div class="panel-body">
                    <div id="jqGrid_wrapper">
                        <table id="jqGridList"></table>
                        <div id="jqGridPager"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 添加窗口 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <input type="hidden" id="type" th:value="${session.account.type}"/>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新增</h4>
                </div>
                <div class="modal-body">

                    <form action="#" id="myForm" class="form-horizontal" role="form">
                        <input type="hidden" id="student_id" name="id" value="0"/>
                        <div class="form-group col-xs-12">
                            <label for="txt_account" class="col-sm-3 teach-control-label">账号：</label>
                            <div class="col-sm-5">
                                <input type="text" name="account" class="form-control" id="txt_account" required onblur="checkAccount()" >
                                <label id="txt_account-error" class="error" for="txt_account" style="display: none;"></label>
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <label for="txt_name" class="col-sm-3 teach-control-label">姓名：</label>
                            <div class="col-sm-5">
                                <input type="text" name="name" class="form-control" id="txt_name" required>
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <label for="txt_parentPhone" class="col-sm-3 teach-control-label">家长电话：</label>
                            <div class="col-sm-5">
                                <input type="text" name="parentPhone" class="form-control" id="txt_parentPhone">
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <label for="txt_birthday" class="col-sm-3 teach-control-label">出生日期：</label>
                            <div class="col-sm-5">
                                <div class='input-group date' id='datetimepicker'>
                                    <input type='text' name="birthday" class="form-control" id="txt_birthday"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12" id="school_div">
                            <label for="txt_school" class="col-sm-3 teach-control-label">学校：</label>
                            <div class="col-sm-5">
                                <select class='form-control' name="schoolId" id="txt_school" required th:disabled="${session.account.type == '0'? 'false':'true'}" onchange="searchClasses()">
                                    <option value="">请选择</option>
                                    <option th:each="school : ${schools}" th:value="${school.id}" th:selected="${session.account.type == '1'}"
                                            th:text="${school.name}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <label for="txt_classesId" class="col-sm-3 teach-control-label">班级：</label>
                            <div class="col-sm-5" id="select_div">
                                <select id="txt_classesId" name="classesId" class="selectpicker show-tick form-control" multiple data-live-search="false">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            &nbsp;
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span
                            class="glyphicon glyphicon-remove" aria-hidden="true" th:text="取消"></span></button>
                    <button type="button" id="btn_submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"
                                                                                        aria-hidden="true"
                                                                                        th:text="确定"></span></button>
                </div>
            </div>
        </div>
    </div>

    <!--发送消息-->
    <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="messageModalLabel">发送消息</h4>
                </div>
                <div class="modal-body">

                    <form action="#" id="messageForm" class="form-horizontal" role="form">
                        <div class="form-group col-xs-12">
                            <div class="col-sm-5" id="message" style="height: 300%"></div>
                        </div>
                        <div class="form-group">
                            &nbsp;
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span
                            class="glyphicon glyphicon-remove" aria-hidden="true" th:text="取消"></span></button>
                    <button type="button" id="btn_message_submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"
                                                                                        aria-hidden="true"
                                                                                        th:text="确定"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div></div>
</body>
<script th:src="@{/js/tab/tabulous.js}"></script>
<script th:src="@{/js/edit/wangEditor.min.js}"></script>
<script th:inline="javascript">

    var accountType = $("#type").val();
    var editor;
    var jqGrid = $("#jqGridList");
    $(document).ready(function () {
        var url = '/user/student/searchData?' + $('#searchForm').serialize() ;
        jqGrid.jqGrid({
            mtype: "GET",
            styleUI : 'Bootstrap',
            url: url,
            datatype: "json",
            ajaxGridOptions: { contentType: 'application/json;charset=utf-8' },
            colModel: [
                { label: 'id', name: 'id',key: true, align: 'center', width: $("#jqGridList").width()*0.15, hidden: true },
                { label: '账号', name: 'account', align: 'center', width: $("#jqGridList").width()*0.15,sortable: false},
                { label: '姓名', name: 'name', align: 'center', width: $("#jqGridList").width()*0.15,sortable: false},
                { label: '家长电话', name: 'parentPhone', align: 'center', width: $("#jqGridList").width()*0.15,sortable: false},
                { label: '出生日期', name: 'birthday', formatter:'date', align: 'center', width: $("#jqGridList").width()*0.15,sortable: false},
                { label: '班级id', name: 'classesId', align: 'center', width: $("#jqGridList").width()*0.15,sortable: false,hidden: true},
                { label: '班级', name: 'classes', align: 'center', width: $("#jqGridList").width()*0.15,sortable: false},
                { label: '学校', name: 'schoolName', align: 'center', width: $("#jqGridList").width()*0.15,sortable: false},
                { label: '状态', name: 'status', align: 'center', width: $("#jqGridList").width()*0.15,sortable: false,
                    formatter: function(cellValue, options, rowObject) {

                        if(cellValue == 0) return "已关闭";
                        else if(cellValue == 1) return "正常";
                        else if(cellValue == 2) return "待审批";
                        else if(cellValue == 3) return "已驳回";
                    }
                },
                { label: '签到',name: 'sign', frozen: true, align: 'center', sortable: false, width: $("#jqGridList").width()*0.25, formatter: function (cellValue, options, cellObject) {
                    if(cellValue == 1) return "已签到";
                    else return '<a href="javascript:void(0);" onclick=\'signIn("' + cellObject.id + '")\' >签到</a>';
                }},
                { label: '操作',name: 'Operation', frozen: true, align: 'center', sortable: false, width: $("#jqGridList").width()*0.25, formatter: function (cellValue, options, cellObject) {
                    return '<a href="javascript:void(0);" onclick=\'editTeacher("' + cellObject.id + '")\' >编辑</a>' +
                        '<a href="javascript:void(0);" style="margin-left: 8px" onclick=\'delTeacher("' + cellObject.id + '")\' >删除</a>';
                }},
            ],
            viewrecords: true,
            rowList: [5, 10, 15, 20, 30],
            rowNum: 10,
            pager: "#jqGridPager",
            sortable: true,
            sortorder: "asc",
            width:$("#jqGrid_wrapper").width()-10,
            height: $(window).height() * 0.4,
            multiselect: true,//复选框
//            rownumbers: true,
//            rownumWidth:  $("#jqGridList").width()*0.1,
//            gridComplete:function(){
//                jqGrid.jqGrid('setLabel', 'rn', '序号', {
//                    'text-align' : 'center'
//                });
//            }

        });

        editInit();
    });

    flag = false;
    function addStudent() {
        // 初始化输入框中的数据
        if (accountType == "0") {
            $("#txt_school").val("");
            $('#txt_school').attr("disabled",false);
            $("#txt_classes option").remove();
            $('#txt_classes').selectpicker('refresh');
        } else{
            searchClasses();
        }
        $("#txt_account").val("");
        $('#txt_account').attr("disabled",false);
        $("#txt_name").val("");
        $("#txt_parentPhone").val("");
        $("#txt_birthday").val("");
        $("#txt_account-error").hide();

        $("#myForm").attr("action", "/user/student/addStudent");
        $("#myModalLabel").text("新增");
        $('#myModal').modal();
    }
    
    function checkAccount() {

        var flag = false;
        var account = $('#txt_account').val();
        $.ajax({
            type: "GET",
            url: "/account/checkAccount?account=" + account,
            async: false,
            success: function(data) {
                if (data.isExist == "true")
                {
                    $("#txt_account-error").text("账号已存在").show();
                    flag = false;
                } else {
                    $("#txt_account-error").hide();
                    flag = true;
                }
            },
            error: function(request) {
                BootstrapDialog.alert("Connection error");
                flag = false;
            }
        });
        return flag;
    }

    $("#btn_submit").click(function (){
        if ($("#myForm").valid()) {
            if($("#myForm").attr("action") == "/user/student/addStudent"){
                if (!checkAccount()) {
                    return;
                }
            }

            var account = $("#txt_account").val();
            var name = $("#txt_name").val();
            var schoolId = $("#txt_school").val();
            var classesId = $("#txt_classesId").val();
            var parentPhone = $("#txt_parentPhone").val();
            var birthday = $("#txt_birthday").val();
            var studentId = $("#student_id").val();
            if (null == classesId) {
                classesId = "";
            }
            $.ajax({
                type: "POST",
                url: $("#myForm").attr("action"),
                data:{account:account,name:name,schoolId:schoolId,classesId:classesId.toString(),parentPhone:parentPhone,birthday:birthday,id:studentId},
                async: false,
                success: function(data) {
                    if (data.message == "success")
                    {
                        BootstrapDialog.alert("操作成功");
                        $('#myModal').modal('hide');
                        var pageNo = $('#jqGrid').getGridParam('page');
                        searchData(pageNo);
                    }
                    else {
                        BootstrapDialog.alert(data.message);
                    }
                },
                error: function(request) {
                    BootstrapDialog.alert("Connection error");
                }
            });
        }
    });

    function searchData(pageNo) {
        var url = '/user/student/searchData?' + $('#searchForm').serialize();
        jqGrid.jqGrid('setGridParam', { page: pageNo,url: url, datatype: 'json'}).trigger("reloadGrid");

    }

    function editTeacher(id) {

        var rowData = jqGrid.jqGrid('getRowData',id);
        // 初始化输入框中的数据
        var schoolName = rowData.schoolName;
        $("#txt_account").val(rowData.account);
        $('#txt_account').attr("disabled",true);
        $('#txt_school option').filter(function(){return $(this).text()== schoolName ;}).attr("selected",true);
        $('#txt_school').attr("disabled",true);
        $("#txt_name").val(rowData.name);

        var classesId=rowData.classesId.split(',');
        searchClasses();
        $('#txt_classesId').selectpicker('val', classesId);
        $("#txt_parentPhone").val(rowData.parentPhone);
        $("#txt_birthday").val(rowData.birthday);
        $("#student_id").val(id);
        $("#txt_name-error").hide();

        $("#myForm").attr("action", "/user/student/modStudent");
        $("#myModalLabel").text("编辑");
        $('#myModal').modal();
    }
    function delTeacher(id) {
        BootstrapDialog.confirm("确定删除该学员？", function(result){
            if(result) {
                $.ajax({
                    type: "GET",
                    url: "/user/student/delStudent?id=" + id,
                    async: false,
                    success: function(data) {
                        if (data.msg == "success")
                        {
                            BootstrapDialog.alert("操作成功");
                            var pageNo = $('#jqGrid').getGridParam('page');
                            searchData(pageNo);
                        }
                        else {
                            var jsonData = $.parseJSON(data);
                            BootstrapDialog.alert(jsonData.errorMsg);
                        }
                    },
                    error: function(request) {
                        BootstrapDialog.alert("Connection error");
                    }
                });
            }else {
                return;
            }
        })

    }

    function searchClasses() {
        var schoolId = $("#txt_school").val();
        $.ajax({
            type: "GET",
            url: "/classes/searchClasses?schoolId=" + schoolId,
            async: false,
            success: function(data) {
                if (data.message == "success")
                {
                    var classes = data.classes;
                    $("#txt_classesId option").remove();
                    $.each(classes, function (index, item) {
                        var id = classes[index].id;
                        var text = classes[index].name;
                        $("#txt_classesId.selectpicker").append("<option value='"+id+"'>"+text+"</option>");
                    });
                    $('#txt_classesId').selectpicker('refresh');

                }
                else {
                    var jsonData = $.parseJSON(data);
                    BootstrapDialog.alert(jsonData.errorMsg);
                }
            },
            error: function(request) {
                BootstrapDialog.alert("Connection error");
            }
        });
    }

    $('#datetimepicker').datetimepicker({
        format: 'yyyy-mm-dd',
        minView: "month",//设置只显示到月份
        autoclose:true,//选中关闭
        locale: moment.locale('zh-cn')
    });

    function signIn(studentId) {
        $.ajax({
            type: "POST",
            url: "/user/student/signIn",
            data: {id:studentId},
            async: false,
            success: function(data) {
                if (data.message == "success")
                {
                    BootstrapDialog.alert("签到成功");
                    var pageNo = $('#jqGrid').getGridParam('page');
                    searchData(pageNo);
                }
                else {
                    BootstrapDialog.alert(data.message);
                }
            },
            error: function(request) {
                BootstrapDialog.alert("Connection error");
            }
        });
    }

    function openSignInList() {
        window.location.href="/user/student/signInList";
    }
    
    function sendMessage() {
        var ids =jqGrid.jqGrid("getGridParam","selarrrow");
        if (ids == "") {
            BootstrapDialog.alert("请选择要发送消息的学员");
            return;
        }

        $('#messageModal').modal();
    }

    $("#btn_message_submit").click(function (){
        var ids =jqGrid.jqGrid("getGridParam","selarrrow");
        var content = $("#message").html().trim();
        if (content == "<p><br></p>") {
            BootstrapDialog.alert("请输入消息内容");
            return;
        }
        var data ={
            studentIds: ids.toString(),
            content: content,
        }

        $.ajax({
            type: "POST",
            url: "/user/student/sendMessage",
            data:data,
            async: false,
            success: function(data) {
                if (data.message == "success")
                {
                    BootstrapDialog.alert("发送成功");
                    $('#messageModal').modal('hide');
                }
                else {
                    BootstrapDialog.alert(data.message);
                }
            },
            error: function(request) {
                BootstrapDialog.alert("Connection error");
            }
        });
    });

    function editInit() {
        editor = new wangEditor('message');
        editor.config.uploadImgUrl = '/file/uploadFile?type=message';
        editor.config.uploadImgFileName = 'file';
        editor.config.hideLinkImg = true;

        // 普通的自定义菜单
        editor.config.menus = [
            'bold',
            'underline',
            'fontfamily',
            'alignleft',
            'aligncenter',
            'alignright',
            'img',
            'undo',
            'redo',
        ];

        editor.config.uploadImgFns.onload = function (resultText, xhr) {
            // resultText 服务器端返回的text
            // xhr 是 xmlHttpRequest 对象，IE8、9中不支持
            var data = $.parseJSON(resultText);
            // 上传图片时，已经将图片的名字存在 editor.uploadImgOriginalName
            var originalName = editor.uploadImgOriginalName || '';

            // 如果 resultText 是图片的url地址，可以这样插入图片：
//            editor.command(null, 'insertHtml', '<img src="' + data.filePath + '" alt="' + originalName + '" style="max-width:100%;"/>');
            // 如果不想要 img 的 max-width 样式，也可以这样插入：
            editor.command(null, 'InsertImage', data.filePath);
        };

        editor.create();
    }
</script>
</html>