<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <footer th:fragment="footer" class="container" style="margin-top: 50px">
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="navbar-inner navbar-content-center">
                <p class="text-muted credit" style="padding: 10px;text-align: center;">
                    Copyright © 1999-2017, xxx, All Rights Reserved
                </p>
            </div>
        </nav>
    </footer>
</body>
</html>