<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head" ></head>
<title>消费记录管理系统</title>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/menu :: menu"></div>
<div class="col-sm-10 col-lg-10 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
            <li class="active">设备申请列表</li>
        </ol>
        <ul class="breadcrumb">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
            <li class="active">123123</li>
        </ul>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
<script th:inline="javascript">
</script>
</html>