<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<title>军创电子科技--作业管理</title>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/menu :: menu"></div>
<div class="col-sm-10 col-lg-10 main">
    <div class="row">
        <ul class="breadcrumb">
            <li>作业管理</li>
            <li class="active">作业方案</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>查询条件</span>
                </div>
                <div class="panel-body">
                    <form action="#" class="form-horizontal" role="form" id="searchForm">
                        <div class="row">
                            <div class="form-group col-xs-4">
                                <label class="teach-control-label col-sm-3 control-label">目标经度：</label>
                                <div class="col-sm-5">
                                    <input type="text" name="latitude" class="form-control input-sm" id="latitude">
                                </div>
                            </div>
                            <div class="form-group col-xs-4">
                                <label class="teach-control-label col-sm-3 control-label">目标纬度：</label>
                                <div class="col-sm-5">
                                    <input type="text" name="longitude" class="form-control input-sm" id="longitude">
                                </div>
                            </div>
                            <div class="form-group col-xs-4">
                                <label class="teach-control-label col-sm-3 control-label">目标高度：</label>
                                <div class="col-sm-5">
                                    <input type="text" name="height" class="form-control input-sm" id="height">
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="teach-review-btns">
                        <div class="col-sm-2">
                            <button class="btn btn-primary" id="btnQuery" onclick="createOperationPlan();">
                                生成作战方案
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>作业方案</span>
                </div>
                <div class="panel-body">
                    <div id="jqGrid_wrapper">
                        <table id="jqGridList"></table>
                        <div id="jqGridPager"></div>
                    </div>
                </div>
            </div>

            <div class="teach-review-btns">
                <div class="col-sm-4">
                    <button class="btn btn-primary" onclick="sendMessage('下达预警信息');">
                        下达预警信息
                    </button>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-primary" onclick="sendMessage('申请空域');">
                        申请空域
                    </button>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-primary" onclick="sendMessage('下达作战命令');">
                        下达作战命令
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- 添加窗口 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新增</h4>
                </div>
                <div class="modal-body">

                    <form action="#" id="myForm" class="form-horizontal" role="form">
                        <div class="form-group col-xs-12">
                            <label for="txt_account" class="col-sm-3 teach-control-label">用户名：</label>
                            <div class="col-sm-5">
                                <input type="text" name="account" class="form-control" id="txt_account" required onblur="checkAccount()" >
                                <label id="txt_account-error" class="error" for="txt_account" style="display: none;"></label>
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <label for="txt_status" class="col-sm-3 teach-control-label">角色：</label>
                            <div class="col-sm-5">
                                <select class='form-control' name="type" id="txt_status" required>
                                    <option value="">请选择</option>
                                    <option value="1">学校</option>
                                    <option value="2">教师</option>
                                    <option value="3">学员</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <label for="txt_name" class="col-sm-3 teach-control-label">实际姓名：</label>
                            <div class="col-sm-5">
                                <input type="text" name="name" class="form-control" id="txt_name" required >
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <label for="txt_name" class="col-sm-3 teach-control-label">手机号码：</label>
                            <div class="col-sm-5">
                                <input type="text" name="phone" class="form-control" id="txt_phone" required >
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <label for="txt_name" class="col-sm-3 teach-control-label">办公室电话：</label>
                            <div class="col-sm-5">
                                <input type="text" name="officePhone" class="form-control" id="txt_officePhone" >
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <label for="txt_status" class="col-sm-3 teach-control-label">性别：</label>
                            <div class="col-sm-5">
                                <select class='form-control' name="sex" id="txt_sex" required>
                                    <option value="男">男</option>
                                    <option value="女">女</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <label for="txt_name" class="col-sm-3 teach-control-label">身份证号码：</label>
                            <div class="col-sm-5">
                                <input type="text" name="idNumber" class="form-control" id="txt_idNumber" required >
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <label for="txt_name" class="col-sm-3 teach-control-label">参加人影日期：</label>
                            <div class="col-sm-5">
                                <input type="text" name="joinRenyingDate" class="form-control" id="txt_joinRenyingDate" >
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <label for="txt_name" class="col-sm-3 teach-control-label">省人影批准日期：</label>
                            <div class="col-sm-5">
                                <input type="text" name="provinceApproveRenyingDate" class="form-control" id="txt_provinceApproveRenyingDate" >
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <label for="txt_name" class="col-sm-3 teach-control-label">市人影批准日期：</label>
                            <div class="col-sm-5">
                                <input type="text" name="cityApproveRenyingDate" class="form-control" id="txt_cityApproveRenyingDate" >
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <label for="txt_name" class="col-sm-3 teach-control-label">家庭住址：</label>
                            <div class="col-sm-5">
                                <input type="text" name="address" class="form-control" id="txt_address" >
                            </div>
                        </div>
                        <div class="form-group">
                            &nbsp;
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span
                            class="glyphicon glyphicon-remove" aria-hidden="true" th:text="取消"></span></button>
                    <button type="button" id="btn_submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"
                                                                                        aria-hidden="true"
                                                                                        th:text="确定"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div></div>
</body>
<script th:inline="javascript">

    var jqGrid = $("#jqGridList");
    $(document).ready(function () {
        // var url = '/account/searchData?' + $('#searchForm').serialize() ;
        jqGrid.jqGrid({
            mtype: "GET",
            styleUI : 'Bootstrap',
            // url: url,
            datatype: "local",
            ajaxGridOptions: { contentType: 'application/json;charset=utf-8' },
            colModel: [
                { label: 'id', name: 'id',key: true, align: 'center', width: $("#jqGridList").width()*0.15, hidden: true },
                { label: '炮点名称', name: 'deviceName', align: 'center', width: $("#jqGridList").width()*0.15,sortable: false},
                { label: '仰角', name: 'elevationAngle', align: 'center', width: $("#jqGridList").width()*0.15,sortable: false},
                { label: '方位角', name: 'azimuth', align: 'center', width: $("#jqGridList").width()*0.15,sortable: false},
                { label: '射击数量', name: 'shootCount', align: 'center', width: $("#jqGridList").width()*0.15,sortable: false},
                { label: '射击类型', name: 'shootType', align: 'center', width: $("#jqGridList").width()*0.15,sortable: false},
                { label: '操作',name: 'Operation', frozen: true, align: 'center', sortable: false, width: $("#jqGridList").width()*0.25, formatter: function (cellValue, options, cellObject) {
                    return '<a href="javascript:void(0);" onclick=\'modStatus("' + cellObject.id + '","1")\' >编辑</a>';
                }},
            ],
            viewrecords: true,
            rowList: [5, 10, 15, 20, 30],
            rowNum: 10,
            pager: "#jqGridPager",
            sortable: true,
            sortorder: "asc",
            width:$("#jqGrid_wrapper").width()-10,
            height: $(window).height() * 0.4,
            multiselect: true,
//            rownumbers: true,
//            rownumWidth:  $("#jqGridList").width()*0.1,
//            gridComplete:function(){
//                jqGrid.jqGrid('setLabel', 'rn', '序号', {
//                    'text-align' : 'center'
//                });
//            }

        });

    });

    flag = false;

    function sendMessage(type) {
        var ids =jqGrid.jqGrid('getGridParam','selarrrow');
        if (ids.length == 0) {
            BootstrapDialog.alert("请选择作业方案");
            return;
        }

        for (var i=0;i<ids.length;i++)
        {
            var rowData = jqGrid.jqGrid('getRowData',ids[i]);
            $.ajax({
                type: "POST",
                url: "/operation/sendMessage?messageType=" + type,
                data: rowData,
                async: false,
                success: function(data) {
                    if (data.message != "success"){
                        var jsonData = $.parseJSON(data);
                        alert(jsonData.errorMsg);
                        return;
                    }
                },
                error: function(request) {
                    alert("Connection error");
                }
            });
        }
        BootstrapDialog.alert("操作成功");
    }

    function checkAccount() {
        var account = $('#txt_account').val();
        $.ajax({
            type: "GET",
            url: "/account/checkAccount?account=" + account,
            async: false,
            success: function(data) {
                if (data.message == "success")
                {
                    BootstrapDialog.alert("操作成功");
                    $('#myModal').modal('hide');
                    var pageNo = $('#jqGrid').getGridParam('page');
                    createOperationPlan(pageNo);
                }
                else {
                    var jsonData = $.parseJSON(data);
                    alert(jsonData.errorMsg);
                }
            },
            error: function(request) {
                alert("Connection error");
            }
        });
    }

    $("#btn_submit").click(function (){
        if ($("#myForm").valid()) {
            if ( !flag) {
                $("#txt_account-error").text("账号已存在").show();
                return;
            }

            $.ajax({
                type: "POST",
                url: "/account/addAccount",
                data:$('#myForm').serialize(),
                async: false,
                success: function(data) {
                    if (data.message == "success")
                    {
                        BootstrapDialog.alert("操作成功");
                        $('#myModal').modal('hide');
                        var pageNo = $('#jqGrid').getGridParam('page');
                        createOperationPlan(pageNo);
                    }
                    else {
                        var jsonData = $.parseJSON(data);
                        alert(jsonData.errorMsg);
                    }
                },
                error: function(request) {
                    alert("Connection error");
                }
            });
        }
    });

    function createOperationPlan(pageNo) {
        $.ajax({
            type: "POST",
            url: "/operation/create",
            data: $('#searchForm').serialize(),
            async: false,
            success: function(data) {
                if (data.message == "success")
                {
                    $("#jqGrid_ds").jqGrid('clearGridData');  //清空表格
                    var reader = {
                        root: function (obj) {
                            return data.rows;
                        },
                        page: function (obj) {
                            return data.page;
                        },
                        total: function (obj) {
                            return data.total;
                        },
                        records: function (obj) {
                            return data.records;
                        },
                    }

                    jqGrid.setGridParam({data: data.rows, localReader: reader}).trigger('reloadGrid');
                }
                else {
                    var jsonData = $.parseJSON(data);
                    BootstrapDialog.alert(jsonData.errorMsg);
                }
            },
            error: function(request) {
                BootstrapDialog.alert("Connection error");
            }
        });

    }
    $("#txt_status").change(function () {
        var selectVal = $("#txt_status").val();
        if (selectVal != "1" && selectVal != "") {
            $("#school_div").show();
        } else {
            $("#school_div").hide();
            $("#txt_school").val("");
        }
    });

    function modStatus(id,status) {
        var msg = "确定关闭该账号";
        if (status == 1) {
            msg = "确定激活该账号";
        }

        BootstrapDialog.confirm(msg, function(result){
            if(result) {
                $.ajax({
                    type: "POST",
                    url: "/account/modStatus",
                    data: {ids: id,status:status},
                    async: false,
                    success: function(data) {
                        if (data.message == "success")
                        {
                            BootstrapDialog.alert("操作成功");
                            var pageNo = $('#jqGrid').getGridParam('page');
                            createOperationPlan(pageNo);
                        }
                        else {
                            var jsonData = $.parseJSON(data);
                            BootstrapDialog.alert(jsonData.errorMsg);
                        }
                    },
                    error: function(request) {
                        BootstrapDialog.alert("Connection error");
                    }
                });
            }else {
               return;
            }
        })
    }
</script>
</html>